#headline1 {
  background: MediumPurple;
  padding-left: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
}
body {
  padding-left: 13%;
  padding-right: 4%;
  padding-bottom: 1em;
}
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0.2em;
  left: 0.2em;
  width: 12%;
  word-break: break-word;
}
ul.navbar li.active {
  border-right: 1em solid black;
}
ul.navbar li {
  background: Thistle;
  margin: 0.2em 0;
  padding: 0.2em;
  border-right: 1em solid gray;
  height: 110%;
  line-height: 130%;
  font-size: 14px;
}
ul.navbar a {
  text-decoration: none
}
